.form{
    padding: 2%;
    border: 2px solid  rgb(219, 143, 52);
    border-radius: 5%;
    width: 50%;
    min-width: 386px; 
    margin: 5% auto;
    background: rgb(255,255,255);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

h2{
    font-size: 36px;
    text-align: center;
    color: rgb(219, 143, 52);
    margin: 5% 0;
}
label {
    font-size: 20px;
    font-weight: bold;
    color:rgb(45, 68, 125);
    display:block;
}
input{
    font-size: 15px;
}
.text{
    color: rgb(45, 68, 125);

    height: 30px;
    width: 90%;
    border: 0px;
    border-bottom: 1px solid  rgb(219, 143, 52);
}
.text:focus{
    color:rgb(219, 143, 52);
    border-color: rgb(45, 68, 125);
    outline: 0;
}
.btn{
    border:0px;
    margin:2% 40%;
    height: 40px;
    width: 20%;
    text-align: center;
    border-radius:5px;
    background: rgb(219, 143, 52);
    color: rgb(255,255,255);
}
.btn:hover{background: rgba(219, 143, 52,0.8);}
.olvidado{
    color:rgb(45, 68, 125);
    text-decoration: underline;
    display: block;
    text-align: center;
    margin: 10px;
}
.olvidado:hover{
    color: rgb(219, 143, 52);
}